# Flash size 16 MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# Bat PSRAM va cau hinh 8MB Octal Mode
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

# Su dung PSRAM cho luong lenh va du lieu Read-Only de tiet kiem SRAM noi
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y

# Bat MQTT 5.0
CONFIG_MQTT_PROTOCOL_5=y